<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-6 pt-10">
				First Name:  {{first_name}}
			</div>
			<div class="col-md-6 pt-10">
				Last_name: {{last_name}}
			</div>
			<div class="col-md-6 pt-10">
				Email: {{email}}
			</div>
			<div class="col-md-6 pt-10">
				Gender: {{gender}}
			</div>
			
			<div class="col-md-6 pt-10">
				Date of Birth: {{dob}}
			</div>
			
			<div class="col-md-6 pt-10">
				subscription: {{subs}}
			</div>
			<hr>
			<div class="col-md-12 pt-10" >
			Address 1: {{address_1}}
			</div>
			<div class="col-md-12 pt-10" >
			Address 2: {{address_2}}
			</div>
			<div class="col-md-6 pt-10" >
			phone_number: {{phone_number}}
			</div>
			<div class="col-md-6 pt-10" >
			payment method: {{payment_type}}
			</div>
		</div>
	</div>
</div>